.price-slider {
  background: url("../../../app/assets/img/bg-main2.png") no-repeat;
  border-radius: $border-radius;
  border: 1px solid $border-gray;
  border-top: none;
  box-shadow: $white-box-shadow, 0 1px 2px 0 rgba(0,0,0,.1);
}

.promo-prod {
  justify-content: space-between;
  align-items: center;
  height: 278px;
  border-bottom: none;
  padding: $sections-padding;
  &__box {
    width: 33%;
    justify-content: center;
  }
  &__fig {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  &__img {
    width: 85%;
    max-width: 100%;
  }
  &__caption {
    text-align: center;
    line-height: 1.4em;
    width: 100%;
  }
  &_border {
    padding: 1em 0.75em;
    border: 1px solid $border-lightgray;
    border-left: none;
    border-right: none;
  }
  &__plus {
    align-self: flex-start;
    margin-top: 7.5%;
  }
  &__status {
    margin-top: 1em;
    text-align: center;
  }
  &__status-ico {
    vertical-align: middle;
    margin-right: 2px;
    height: 14px;
  }
  &__status-info {
    vertical-align: middle;
  }
}

.price-inputs {
  background-color: $bg-gray;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 2em 3% 5em 3%;
  border-top: 1px solid $border-gray;
  box-shadow: $white-box-shadow;
  position: relative;
  &__threshold {
    color: $font-goodies-gray;
    margin: 0 0.5em;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }

  .input-number {
    font-size: 1.7em;
    width: 3em;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    &:focus, &:active, &:invalid {
      outline: 0;
      box-shadow: 0;
    }
    &:-moz-submit-invalid {
      box-shadow: none;
    }

    &:-moz-ui-invalid {
      box-shadow:none;
    }
    &__dollar {
      font-size: 1.6em;
    }
    &__wrp {
      @include  background-gradient(to bottom, $input-number__bg-light, $input-number__bg-dark);
      border: 1px solid $input-number__border;
      border-radius: 4px;
      outline: none;
      padding: 0.75em 0.75em;
      position: absolute;
      margin-top: 0.75em;
      box-shadow: $white-box-shadow-outer;
      left: -30px;
      min-width: 255px;
      position: absolute;
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
      }
      &:after { /* inner triangle */
        top: -20px;
        border-color: transparent transparent $input-number__bg-light;
        border-width: 10px;
        margin-top: 0.5px;
      }
      &:before { /* outer triangle */
        top: -22px;
        border-color: transparent transparent $input-number__border transparent ;
        border-width: 11px;
      }
    }
  }
}