<section class="price-slider">
    <!-- promotion products -->
    <div class="promo-prod row">
        <div class="promo-prod__box row" ng-repeat-start="product in productCtrl.promoData track by $index">
            <figure class="promo-prod__fig">
                <img class="promo-prod__img" ng-src="{{productCtrl.changeImg($index)}}">
                <figcaption class="promo-prod__caption text_gray">
                    <div class="promo-prod_border text_small">
                        <p ng-cloak><span class="text_dotted" ng-bind="::product.title"></span> {{::product.priceNormal}}</p>
                        <p class="text_semibold" ng-bind="::product.bonus"></p>
                    </div>
                    <div class="promo-prod__status text_small">
                        <img class="promo-prod__status-ico" ng-src="{{productCtrl.changeIco($index)}}">
                        <span class="promo-prod__status-info" ng-class="{text_green: productCtrl.finalVal > product.pricePoint}" ng-cloak>{{::product.status}}
                            <span class="text_semibold" ng-cloak ng-if="product.pricePoint > 0">(from {{::product.pricePoint | currency}})</span>
                        </span>
                    </div>
                </figcaption>
            </figure>
        </div>
        <div ng-repeat-end ng-if="$index < (productCtrl.promoData.length - 1)" class="promo-prod__plus">
            <img src="../../../app/assets/img/ico-plus.png">
        </div>
    </div>
    <!-- promotion products end-->

    <div class="price-inputs">
        <span class="price-inputs__threshold text_semibold" ng-bind="productCtrl.minVal | currency"></span>
        <rzslider rz-slider-model="productCtrl.slider.value"
                  rz-slider-options="productCtrl.slider.options"
                  rz-slider-tpl-url="../../../app/components/price-slider/rz-slider.html">
        </rzslider>
        <span class="price-inputs__threshold text_semibold" ng-bind="productCtrl.maxVal | currency"></span>
        <div class="input-number__wrp">
            <span class="input-number__dollar text_semibold text_green align-middle">$</span>
            <input class="input-number text_semibold text_green align-middle"
                   type="number"
                   ng-model="productCtrl.slider.value" />
            <button class="btn btn_green text_bold align-middle" ng-click="productCtrl.getFinalVal()">Checkout now</button>
        </div>
    </div>

</section>
