<section class="promo">
    <div class="container">
        <!-- header -->
        <header class="promo__header">
            <h1 class="promo__title text text_gray text_light">
                Pay what you want for the <span class="text_regular">Divinity Bundle</span> ($32 value!)
            </h1>
            <ul class="promo__features row">
                <li class="promo__feature row" ng-repeat="feature in promoCtrl.features">
                    <img class="promo__feature-img" ng-src="{{::feature.icoSrc}}">
                    <p class="promo__feature-cap text_gray text_light" ng-bind="::feature.caption">
                    </p>
                </li>
            </ul>
        </header>
        <!-- header end -->

        <!-- price-slider -->
        <price-slider></price-slider>
        <!-- price-slider end -->

        <!-- goodies & sold so far -->
        <section class="promo__bottom row container">
            <div class="goodies row">
                <h2 class="goodies__title text_center text_normal text_light text_lined"><span class="text_lined-inner">Goodies available for free with Divinity Bundle</span></h2>
                <div class="row row_wrap row_space-between_">
                <figure class="goodie" ng-repeat="goodie in promoCtrl.goodies track by $index">
                    <img class="goodie__img" ng-src="{{::goodie.icon}}">
                    <figcaption class="goodie__cap text_gray text_small">
                        <h3 class="goodie__title text_gray text_semibold" ng-bind="::goodie.title">
                        </h3>
                        <p class="goodie__short text_gray" ng-bind="::goodie.caption">
                        </p>
                    </figcaption>
                </figure>
                </div>
            </div>

            <div class="so-far">
                <h2 class="so-far__title text_normal text_center text_light text_lined"><span class="text_lined-inner">Games sold so far</span></h2>
                <sales-counter></sales-counter>
            </div>
        </section>
        <!-- goodies & sold so far end -->
    </div>
</section>