.promo {
  &__header {
    margin: 2em 0;
  }
  &__title {
    text-align: center;
    font-size: 2.1em;
  }
  &__features {
    justify-content: space-between;
    padding: 1em 2% 0.5em 2%;
  }
  &__feature {
    align-items: center;
  }
  &__feature-img {
    margin-right: 0.7em;
  }
  &__feature-cap {
    font-size: 0.85em;
    padding-bottom: 2%;
    color: $font-header-gray;
  }
  &__bottom {
    padding: 2em;
    justify-content: space-between;
    align-items: flex-start;
  }

  .goodies {
    width: 62%;
    flex-flow: row wrap;
    &__title {
      color: $font-goodies-gray;
      width: 100%;
      margin: 2em auto 1em auto;
    }

    .goodie {
      width: 30%;
      text-align: center;
      margin: 1.5em 0.5em;
      &__title {
        margin: .8em 0;
      }
      &__img {
        height: 25px;
      }
    }
  }

  .so-far {
    width: 35%;
    &__title {
      color: $font-goodies-gray;
      width: 85%;
      margin: 2em auto 1em auto;
    }
  }
}