.btn {
  user-select: none;
  cursor: pointer;
  border: 1px solid $btn-border;
  font-size: .9em;
  padding: 0.5em 0.6em;
  border-radius: 3px;
  box-shadow: $white-box-shadow, 0 1px 1px 0px rgba(0,0,0,.75);
  font-family: "Open Sans", Arial;
  &:focus {
    outline: 0;
  }
  &_green {
    @include background-gradient(to bottom, $light-green, $dark-green);
    color: $btn-font;
  }
  &__prev {
    .btn_circle-icon {
      left: 45%;
    }
  }
  &__next {
    .btn_circle-icon {
      left: 55%;
    }
  }
  &_circle {
    margin: 0;
    padding: 0;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    position: relative;
    border-color: $btn_circle-border;
    &-icon {
      color: $btn_circle-ico;
      position: absolute;
      font-size: 1.5em;
      font-weight: 300;
      width: 10px;
      height: 10px;
      left: 50%;
      top: 0%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &_gray {
    @include background-gradient(to bottom, $btn_gray-light, $btn_gray-dark);
    box-shadow: $white-box-shadow, 1px 1px 1px 1px rgba(0,0,0,.02);
  }

}