* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Open Sans", Arial;
}

body {
  background: url("../../app/assets/img/bg-pattern.png") repeat;
  background-size: 70%;
}

.main-nav {
  box-shadow: 0px 5px 240px 20px rgba(0,0,0,0.5);
  max-height: 46px;
  &__img {
    width: 100%;
    box-shadow: 0 -25px 30px 24px rgba(0,0,0,.5);
  }
}

.align-middle {
  vertical-align: middle;
}