@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
  font-family: 'DSDIGI';
  src: url('../../app/assets/fonts/DSDIGI.eot');
  src: local('DSDIGI'), url('../../app/assets/fonts/DSDIGI.woff') format('woff'), url('../../app/assets/fonts/DSDIGI.ttf') format('truetype');
}