.row {
  display: flex;
  flex-flow: row nowrap;
  &_center-items {
    align-items: center;
  }
  &_wrap {
    flex-flow: row wrap;
  }
  &_space-between {
    justify-content: space-between;
  }
}

.column {
  display: flex;
  flex-flow: column wrap;
}

.container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}