@mixin background-gradient($direction, $colorOne, $colorTwo) {
  background: linear-gradient($direction, $colorOne, $colorTwo);
  /*IE7-*/ filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='$colorOne', endColorStr='$colorTwo', GradientType=0);
  /*IE8+*/ -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='$colorOne', endColorStr='$colorTwo', GradientType=0)";
}
