.rzslider {
  margin: 0;
  height: $input-range__height;
  width: 85%;
  .rz-bar {
    height: $input-range__height;
    cursor: pointer;
    @include background-gradient(to left, $input-range__light-gray 50%,$light-green 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: $border-radius;
    border: 1px solid $sales-counter_border;
    box-shadow: $white-box-shadow, $white-box-shadow-outer, inset 0 -2px 5px 1px rgba(0,0,0,.15);
    &-wrapper {
      margin: 0;
      padding: 0;
      height: $input-range__height;
    }
  }
  .rz-tick {
    margin-left: 0;
    background-color: $input-range__tick;
    width: 7px;
    height: 7px;
    margin-top: 6px;
    margin-left: 5px;
  }
  .rz-ticks-values-under .rz-tick-value {
    bottom: 20px;
    color: $input-range__tick-label;
  }
  .rz-pointer {
    margin-top: 5px;
    background: url("../../../app/assets/img/handle.png") no-repeat;
    width: 17px;
    height: 33px;
    border-radius: 0;
    &:after {
      display: none;
    }
    &:active, &:focus {
      outline: none;
    }
  }
}