.text {
  font-family: "Open Sans", Arial;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 300;
  &_light {
    font-weight: 300;
  }
  &_regular {
    font-weight: 400;
  }
  &_semibold {
    font-weight: 600;
  }
  &_bold {
    font-weight: 700;
  }
  &_gray {
    color: $font-lightgray;
  }
  &_green {
    color: $font-green;
  }
  &_dotted {
    border-bottom: 1px dotted $border-gray;
  }
  &_x-small {
    font-size: 0.625em;
  }
  &_small {
    font-size: 0.75em;
    line-height: 1.7em;
  }
  &_normal {
    font-size: 0.875em;
  }
  &__dollar {
    font-size: 1.5em;
  }
  &_center {
    text-align: center;
  }
  &_lined {
    position: relative;
    overflow: hidden;
    &-inner {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      position: relative;
      padding: 0 20px;

      &:before, &:after {
        content: '';
        display: block;
        width: 1000px;
        position: absolute;
        top: 50%;
        border-top: 1px solid $text_lined-gray;
      }

      &:before { right: 100%; }
      &:after { left: 100%; }
    }
  }
}