/* COLOR PALETTE */
$white: #ffffff;
$font-gray: #404040;
$font-lightgray: #666666;
$font-green: #698c00;
$font-header-gray: #333333;
$font-goodies-gray: #4c4c4c;
$bg-gray: #e6e6e6;
$border-gray: #b8b8b9;
$border-lightgray: #cdcdcd;
$light-green: #b5ce19;
$dark-green: #92b718;
$btn-font: #03101a;
$btn-border: #8f8f8f;
$text_lined-gray: #bfbfbf;

/* INPUT-RANGE */
$input-range__height: 13px;
$input-range__light-gray: #c2c2c2;
$input-range__dark-gray: #cdcdcd;
$input-range__border: #aaaaaa;
$input-range__tick: #777777;
$input-range__tick-label: #808080;

/* INPUT-NUMBER */
$input-number__bg-light: #c3c3c3;
$input-number__bg-dark: #cecece;
$input-number__border: #b3b3b3;

/* SALES-COUNTER */
$sales-counter_bg-dark: #a6a6a6;
$sales-counter_border: #8d8d8d;
$sales-counter_dot: #9b9b9b;

/* PROMO-TAB */
$promo-tab__nav-bg: #cbcbcb;
$promo-tabs__gray: #656565;

/* SIZES */
$border-radius: 0.5em;
$sections-padding: 0 3%;

/* SHADOWS */
$white-box-shadow: inset 0 0.5px 1px 0 rgba(255,255,255,0.75);
$white-box-shadow-outer: 0 0.5px 1px 0 rgba(255,255,255,0.75);
$shadow-black: 0px 0px 5px 2px rgba(0,0,0,0.15);

/* BUTTONS */
$btn_gray-light: #ededed;
$btn_gray-dark: #d8d8d8;
$btn_circle-border: #a7a8a8;
$btn-circle-ico: #989898;