.sales-counter {
  justify-content: center;
  margin: 1.5em 0;
  cursor: pointer;
  &__digit {
    @include background-gradient(to bottom, $sales-counter_bg-dark, $text_lined-gray);
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DSDIGI';
    color: $white;
    font-size: 2em;
    border: 1px solid $sales-counter_border;
    box-shadow: $white-box-shadow-outer;
    margin-right: 2px;
    border-radius: 2px;
    position: relative;
    &:nth-of-type(3) {
      margin-right: 0;
    }
  }
  &__dot {
    align-self: flex-end;
    font-family: 'DSDIGI';
    border-radius: 0.5px;
    width: 3px;
    height: 3px;
    margin: 0 2px;
    content: '';
    background-color: $sales-counter_dot;
    box-shadow: $white-box-shadow-outer;
  }
  &__backlight {
    opacity: 0.35;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.promo-tab {
  .btn_circle {
    &:nth-of-type(1) {
      margin-right: 1em;
    }
    &:nth-of-type(2) {
      margin-left: 1em;
    }
  }
  &__title {
    color: $promo-tabs__gray;
  }
  &__caption {
    margin: 0.5em auto;
    width: 100%;
    max-width: 260px;
    color: $promo-tabs__gray;
  }
  &__img {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    z-index: 1;
  }
  &__dim {
    box-shadow: $shadow-black;
    border: 7px solid $white;
    max-height: 150px;
    overflow: hidden;
    z-index: 2;
    position: relative;
  }
  &__nav {
    justify-content: space-between;
    background-color: $promo-tab__nav-bg;
    border-radius: 2px;
    border: 1px solid $sales-counter_bg-dark;
    height: 22px;
    max-width: 260px;
    margin: 1em auto 0 auto;
    box-shadow: $white-box-shadow-outer;
  }
  &__milestone {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 20%;
    border-right: 1px solid $sales-counter_bg-dark;
    color: $font-lightgray;
    &:last-of-type {
      border-right: 0;
    }
    &.active {
      box-shadow: inset 0 1px 6px 0px rgba(0,0,0,.25);
      font-weight: 600;
    }
  }
}

.progress {
  position: absolute;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  &__current {
    position: absolute;
    font-size: 1.5625em;
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: $white;
  }
}