<div class="sales-counter row" ng-click="counterCtrl.isHidden = !counterCtrl.isHidden">
    <p class="sales-counter__digit">{{counterCtrl.hts}}<span class="sales-counter__backlight">8</span></p>
    <p class="sales-counter__digit">{{counterCtrl.tts}}<span class="sales-counter__backlight">8</span></p>
    <p class="sales-counter__digit">{{counterCtrl.ts}}<span class="sales-counter__backlight">8</span></p>
    <p class="sales-counter__dot text_gray"></p>
    <p class="sales-counter__digit">{{counterCtrl.hs}}<span class="sales-counter__backlight">8</span></p>
    <p class="sales-counter__digit">{{counterCtrl.t}}<span class="sales-counter__backlight">8</span></p>
    <p class="sales-counter__digit">{{counterCtrl.o}}<span class="sales-counter__backlight">8</span></p>
</div>
<div class="sales-counter__ctrls row row_space-between" ng-class="{hidden: counterCtrl.isHidden}">
    <button class="btn btn_gray" ng-click="counterCtrl.stopCounter()">stop</button>
    <button class="btn btn_gray" ng-click="counterCtrl.startCounter()">start</button>
</div>

<div class="promo-tab column" ng-repeat="tab in counterCtrl.tabs track by $index" ng-show="counterCtrl.isSet($index)">
    <h4 class="promo-tab__title text_small text_bold text_center">Reach <span ng-bind="::tab.title | number: 0"></span>...</h4>
    <p class="promo-tab__caption text_small text_center"
       ng-bind="tab.caption">
    </p>
    <div class="row row_center-items">
        <button class="btn btn_circle btn__prev btn_gray" ng-click="counterCtrl.setPrev()">
            <div class="btn_circle-icon">&lsaquo;</div>
        </button>
        <div class="promo-tab__dim">
            <img class="promo-tab__img" ng-src="{{::tab.videoUrl}}">
            <div class="progress">
                <div class="progress__current" ng-bind="(counterCtrl.counterProgress($index) | number: 0) + '%'"></div>
                <round-progress
                        max="tab.title"
                        current="counterCtrl.counter"
                        color="#ffffff"
                        bgcolor="rgba(0,0,0,0.5)"
                        radius="5"
                        stroke="1"
                        semi="false"
                        rounded="false"
                        clockwise="true"
                        responsive="true"
                        duration="600"
                        animation="easeInOutQuart"
                        animation-delay="0">
                </round-progress>
            </div>
        </div>
        <button class="btn btn_circle btn__next btn_gray" ng-click="counterCtrl.setNext()">
            <div class="btn_circle-icon">&rsaquo;</div>
        </button>
    </div>
</div>

<ul class="promo-tab__nav row">
    <li class="promo-tab__milestone row text_x-small"
        ng-class="{active: counterCtrl.isSet($index)}"
        ng-repeat="tab in counterCtrl.tabs track by $index"
        ng-click="counterCtrl.setTab($index)"
        ng-bind="::tab.title | number: 0">
    </li>
</ul>